body {
    background-color: rgb(206, 206, 201);
    }

    Header {
        text-align: center;
        font-family: cursive;
        margin-top: 80px;
        margin-left: 400px;
        margin-right: 400px;
        background-color: #fffed9;
    } 
   
  

table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffed9;
    text-align: center;
    font-family: cursive;
    margin-left: 15%;
    margin-right: 15%;
}

.box {
   
    
}
       
    